* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-principal {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.nav {
    height: 100%;
    width: 15%;
    background-color: rgb(65, 64, 64);
}

.contenedor-derecha {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
}

.header {
    height: 20%;
    width: 100%;
    background-color: rgb(241, 241, 71);
}

.contenedor-body {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenedor-aside {
    height: 100%;
    width: 80%;
}

.aside {
    height: 80%;
    width: 100%;
    background-color: steelblue;
}

.footer {
    height: 20%;
    width: 100%;
    background-color: silver;
}

.ads {
    height: 100%;
    width: 20%;
    background-color: powderblue;
}